@import url(Nav.css);

#titulo h1{
    color: white;
    margin-left: 2%;;
}

#titulo{
    background-color:#69737B;
}

body{
    background-color: black;;
}

#misRutinas{
    margin-bottom: 0.2%;
}

#crear{
    background-color:#149073;
}